{% extends 'base.html' %}
{% block content%}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

</style>
<div class="jumbotron" style="background-color: #ffebee;">
    <h2 class="text-center" style="  font-family: 'Satisfy', cursive; font-size:40px;">Thankyou {{name}}!!!</h2>
    <h2 class="text-center" style=" font-family: 'Open Sans', sans-serif; font-size:20px;"><hr>For shopping with us, hope you are satisfied with the services. Please kindly click on the link to fill out the feedback form below and let us know if any improvising in functionality is required, if you may.<br>Thank You for your co-operation!</h2>
   <hr> 
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfCGZSJzxt9UJMyrAN2gRFdSB4koJwsc2dY8ZnCmLV_R07kJQ/viewform?usp=sf_link"><p style="color: black; margin-left: 620px;font-size: 20px;text-decoration: none;">Click Here</p></a>
</div>
{% endblock %}